ul {
  list-style-type: none;
}

li {
  margin-left: -2rem;
  margin-right: 1rem;
  cursor: pointer;
}

p {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin-left: 3rem;
}

.ep-number {
  position: absolute;
  left: -2.5rem;
  font-size: 2rem;
  margin-top: 0.4rem;
}

.ep-title {
  font-weight: bold;
  line-height: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ep-romanji {
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.episode_item {
  position: relative;
  width: 100%;
  height: 4rem;
  margin-left: -2rem;
  background-color: tomato;
  margin: 0.5rem;
  border-radius: 0.2rem;
}
